html, body{
    background-color: #ffffff;
}

.main{
    width: 100%;
    display: block;
    background-color: #ffffff;
}

.content-wrap{
    width: 90%;
    height: 600px;
    margin: 0 auto;
    margin-top: 100px;
    border: 4px solid black;
    overflow: hidden;
    padding: 10px;
}

.content-left{
    float: left;
    text-align: center;
    width: 34%;
    border: 1px solid black;
}

.main-day {
    font-size: 50px;
}
.main-date {
    font-size: 150px;
}

.content-right{
    float: right;
    width: 64%;
    align-content: center;
    border: 1px solid black;
}

.content-right table ,th, td {
    border-collapse: collapse;
    border: 1px solid black;
}

.content-right th, td {
    width: 10%;
    height: 30px;
    text-align: center;
}

